{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block title %}
    {% if validlink %}
    更改用户 {{ form.user.username }}
    {% else %}
    重置你的密码
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            重置密码成功
        </h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card">
                        <div class="card-body" >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 你的密码已成功重置，请用新的密码重新登录！
                        <a href="{% url 'login'%}" class="btn btn-primary btn-block">去登录</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}