{# http://127.0.0.1:8000/password/reset/#}
{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block title %}重置密码{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            重置密码
        </h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card">
                        <div class="card-body"
                        <h2 class="card-title">重置说明：</h2>
                        <p>请输入你注册账号是填写的邮件地址，系统将自动发送邮件重置链接，单击链接完成密码重置！</p>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button  type="submit" class="btn-primary btn-block" >发送邮件</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

