{% extends 'base.html' %}
{% block title %} 更改用户密码 {% endblock %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block body %}
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
             <div class="card">
                 <div class="card-body">
                    <h3 class="card-title text-center">更改用户密码</h3>
                     当前用户名：{{ form.user.username  }}
                     <hr>
                    <form method="post" novalidate>

                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">更改密码</button>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}