
{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block title %}
    {% if validlink %}
    更改用户密码 {{ form.user.username }}
    {% else %}
    重置用户密码
    {% endif %}
{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            重置密码
        </h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card">
                        <div class="card-body" >
                        {% if validlink %}
                        <h5>用户名：{{ form.user.username  }}</h5>
                            <hr>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                            <button type="submit" class="btn-primary btn-block">重置密码</button>
                            </form>
                        {% else %}
                            <h4 class="card-title">对不起，重置密码链接已失效，请重新获取！</h4>
                            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">重新获取一个新的链接</a>
                        {% endif %}
                        </h3>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}