{## http://127.0.0.1:8000/password/reset/done/#}
{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block title %}重置密码{% endblock %}
{% block body %}
    <div class="container">
        <h3 class="text-center logo my-4">
            重置密码
        </h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            用户名：{{ user.username }}
                            <br>尊敬的用户，你正在重置密码!
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 系统已成功将重置密码链接发送至你的邮箱 {{ user.email }}，请查收！
                               然后跟据提示点击重置密码链接，完成密码重置，谢谢！
                            </p>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <a href="{% url 'login' %}" class="btn btn-primary btn-block">返回登录页面</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}