{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% block title %}
    {{ form.user.username  }}密码更改成功
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-40">
                    <div class="card">
                        <div class="card-body" >
                            <h3 class="card-title"> 密码更改成功！</h3>
                            {% csrf_token %}
                             当前用户名：{{ form.user.username  }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你的密码已成功更改，请用新的密码重新登录！</h5>
                        <a href="{% url 'login'%}" class="btn btn-primary btn-block">去登录</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}