{% extends 'base.html' %}
{% load static %}
{#{% block stylesheet %}#}
{#    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">#}
{#{% endblock %}#}
{% load widget_tweaks %}
    {% block title %}
        登录系统
    {% endblock %}
    {% block breadcrumb %}
        <li>登录系统</li>
    {% endblock %}
    {% block body %}
           <div class="container">
            <h1 class="text-center logo my-4">
                欢迎使用
            </h1>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% render_field field class="form-control" %}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-lg  btn-block ">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <small>
                没有账号？<a href="{% url 'register'%}">去注册</a> &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;忘记密码？<a href="{% url 'password_reset' %}">去重置</a>
            </small>
        </div>
    {% endblock %}